@CHARSET "UTF-8";

body
{
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding-top: 75px;
}

#outer
{
	margin: auto; 
	width: 800px; 
	height: 583px;
	background: url(/images/home/home_background.png) 0px 0px no-repeat;
	/*border: 3px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;*/
}

#left
{
	position: relative;
	float: left;
	height: 100%;
	width: 470px;
	color: white;
	border-right: 3px solid black;
	/*border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;*/
}

#homeLeftButtons {
	position:relative;
	width: 350px;
	left: 60px;
	top: 450px;
	height: 75px;
}

#homeLeftButtons a span{
	display: none;
}

#moreInfoLink {
	display: inline-block;
	background:url(/images/home/more_info_button_off.png) 0px 0px no-repeat;
	height: 44px;
	width: 128px;
	cursor:pointer;
}

#registryLink
{
	display: inline-block;
	background: url(/images/home/gift_registry.png) 0px 0px no-repeat;
	height: 63px;
	width: 107px;
	margin-left: 100px;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	_border-bottom-color: black;
}

#registryLink:hover
{
	border-bottom-color: #384a9c;
}

#right
{
	position:relative;
	float: right;
	width: 320px;
}

#top
{
	position:relative;
	height: 150px;
	color: #fff;
}

#rsvp
{
	position:relative;
	top: 75px;
}

#rsvp input.text
{
	color: grey;
}

#rsvp p
{
	font-size: smaller;
}

#rsvp input.text.active
{
	color: black;
}

#bottom
{
	margin-top: 65px;
}

#viewPhotosLink {
	display: inline-block;
	background:url(/images/home/view_photos_button_off.png) 0px 0px no-repeat;
	height: 44px;
	width: 108px;
	margin-bottom: 5px;
}

#viewPhotosLink span {
	display:none;
}

#photos {
	position: relative;
	width: 300px;
	height: 348px;
	overflow: hidden;
}

input.text
{
	border: none;
	padding: 3px;
	font-size: larger;
	margin-right: 5px;
}

button.submit
{
	font-size: larger;
}
