@CHARSET "UTF-8";

#content div.controls div.pages a {
border:1px solid #999999;
color:#999999;
display:inline;
margin:1px;
padding:2px 4px;
}
#content div.controls div.pages a:hover {
border-color:black;
color:black;
}
#content div.controls div.pages a.current, #content div.controls div.pages a.current:hover {
border-color:black;
border-width:2px;
color:black;
font-weight:bold;
text-decoration:none;
}
